body{
  font-family: helvetica, arial, sans-serif;
}

.container{
	width: 1400px;
	margin: 0 auto;
}

.Logo{
	margin: 0 auto;
}

#Logo{
	margin-bottom: -20px;
	width: 225px;
	margin-left: 450px;
	font-weight: bolder;
	font-size: 35px;
	border-bottom: 10px solid black;
	position: relative;
}

.img_car{
	height: 80px;
}

.block_text{
	margin-left: 450px;
}
#block{
	width: 450px;
	border: 1px solid;
	padding: 30px;
	z-index: 2;
	background-image: url("photo_2020-03-01_19-25-56 — копия.jpg");
	position: relative;
}

.train{
	position: relative;
	margin-top: -445px;
	margin-right: 25px; 
	width: 597px;
	height: 374px;
	float: right;
}

#train{
	z-index: 1;
}

#car{
	position: relative;
}

