body{
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  text-align: center;
}

button{
	width: 150px;
	height: 80px;
	background-color: #d70947;
	color: white;
}

h2{
	padding-top: 15px;
}
input[type='radio'] {
	margin-top: 10px;
	width: 20px;
	height: 20px;
}

#Red:hover{
	background-color: #a60b3a;
}

#Red:active{
	width: 500px;
	height: 500px;
	background-color: red;
}

#Black:hover{
	background-color: #a60b3a;
}

#Black:active{
	width: 500px;
	height: 500px;
	background-color: black;
}

#Blue:hover{
	background-color: #a60b3a;
}

#Blue:active{
	width: 500px;
	height: 500px;
	background-color: Blue;
}